USE [master]
GO
/****** Object:  Database [QLCD]    Script Date: 5/11/2026 3:15:38 AM ******/
CREATE DATABASE [QLCD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCD', FILENAME = N'E:\New folder\QLCD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCD_log', FILENAME = N'E:\New folder\QLCD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCD]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (@MaHD INT, @TargetDate DATETIME)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18, 2), @NgayVay DATETIME, @DL1 DATETIME;
    DECLARE @TongTien DECIMAL(18, 2);
    DECLARE @DaysDon INT, @DaysKep INT;
    DECLARE @LaiSuatNgay FLOAT = 0.005;

    SELECT @Goc = SoTienVayGoc, @NgayVay = NgayLap, @DL1 = Deadline1 
    FROM HopDong WHERE MaHD = @MaHD;

    IF (@TargetDate <= @NgayVay) RETURN @Goc;

    IF (@TargetDate <= @DL1)
    BEGIN
        SET @DaysDon = DATEDIFF(DAY, @NgayVay, @TargetDate);
        SET @TongTien = @Goc * (1 + @DaysDon * @LaiSuatNgay);
    END
    ELSE
    BEGIN
        SET @DaysDon = DATEDIFF(DAY, @NgayVay, @DL1);
        DECLARE @VaySauDL1 DECIMAL(18,2) = @Goc * (1 + @DaysDon * @LaiSuatNgay);
        
        SET @DaysKep = DATEDIFF(DAY, @DL1, @TargetDate);
        SET @TongTien = @VaySauDL1 * POWER((1 + @LaiSuatNgay), @DaysKep);
    END

    DECLARE @DaTra DECIMAL(18,2) = (SELECT ISNULL(SUM(SoTienTra), 0) FROM TransactionLog WHERE MaHD = @MaHD);
    
    RETURN @TongTien - @DaTra;
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[NgayLap] [datetime] NULL,
	[Deadline1] [datetime] NOT NULL,
	[Deadline2] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DuNoGocHienTai] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](255) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionLog]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLog](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Dang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Dang cam co') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[TransactionLog] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TransactionLog]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
    @MaKH INT,
    @SoTienVay DECIMAL(18,2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @DanhSachTaiSan NVARCHAR(MAX) -- JSON hoặc XML chứa list tài sản
AS
BEGIN
    INSERT INTO HopDong (MaKH, SoTienVayGoc, Deadline1, Deadline2, DuNoGocHienTai)
    VALUES (@MaKH, @SoTienVay, @Deadline1, @Deadline2, @SoTienVay);
    
    -- (Phần xử lý thêm tài sản từ danh sách có thể dùng OPENJSON hoặc vòng lặp tùy độ phức tạp)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExtendContract]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ExtendContract]
    @MaHD INT,
    @NguoiThu NVARCHAR(100),
    @SoNgayGiaHan INT -- Số ngày muốn dời thêm (VD: 30 ngày)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- 1. Tính toán số tiền lãi hiện tại (Không bao gồm gốc)
        DECLARE @TongNo DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
        DECLARE @Goc DECIMAL(18,2) = (SELECT SoTienVayGoc FROM HopDong WHERE MaHD = @MaHD);
        DECLARE @TienLaiPhaiTra DECIMAL(18,2) = @TongNo - @Goc;

        IF @TienLaiPhaiTra <= 0 SET @TienLaiPhaiTra = 0;

        -- 2. Ghi Log việc trả lãi để gia hạn
        INSERT INTO TransactionLog (MaHD, NgayGiaoDich, SoTienTra, NoiDung)
        VALUES (@MaHD, GETDATE(), @TienLaiPhaiTra, N'Trả lãi gia hạn hợp đồng');

        -- 3. Cập nhật Hợp đồng: 
        -- Dời NgayLap về hiện tại và cộng thêm ngày cho Deadline
        UPDATE HopDong
        SET NgayLap = GETDATE(),
            Deadline1 = DATEADD(DAY, @SoNgayGiaHan, GETDATE()),
            Deadline2 = DATEADD(DAY, @SoNgayGiaHan + 15, GETDATE()), -- Deadline 2 cách D1 15 ngày
            TrangThai = N'Dang vay'
        WHERE MaHD = @MaHD;

        COMMIT TRANSACTION
        PRINT N'Gia hạn thành công. Khách đã trả lãi: ' + CAST(@TienLaiPhaiTra AS NVARCHAR(50));
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT N'Lỗi gia hạn: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyNo]    Script Date: 5/11/2026 3:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyNo]
    @MaHD INT,
    @SoTienNop DECIMAL(18,2)
AS
BEGIN
    -- 1. Kiểm tra tài sản đã bị thanh lý chưa
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
    BEGIN
        PRINT N'Tài sản đã bị thanh lý, không thu tiền.';
        RETURN;
    END

    -- 2. Cập nhật Log
    INSERT INTO TransactionLog (MaHD, SoTienTra, NoiDung) VALUES (@MaHD, @SoTienNop, N'Khách trả tiền');

    -- 3. Tính toán tổng nợ hiện tại
    DECLARE @TongNo DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());

    IF @TongNo <= 0
    BEGIN
        UPDATE HopDong SET TrangThai = N'Da thanh toan du' WHERE MaHD = @MaHD;
        PRINT N'Đã thanh toán đủ. Khách có thể nhận lại toàn bộ tài sản.';
    END
    ELSE
    BEGIN
        UPDATE HopDong SET TrangThai = N'Dang tra gop' WHERE MaHD = @MaHD;
        
        SELECT MaTS, TenTaiSan FROM TaiSan 
        WHERE MaHD = @MaHD AND GiaTriDinhGia >= @TongNo;
    END
END;
GO
USE [master]
GO
